
a:link{
  color: blue;         
  background: lightblue;    
  text-decoration: underline;
}
a:visited{
  color: purple;           
  background: lavender;    
}
a:hover{
  color: darkblue;            
  background: lightblue;  
  text-decoration: none;   
}
a:active{
  color: red;   
  background: pink;  
}


body{
  margin:0;
  font:16px/1.6 Arial, Helvetica, sans-serif;
  background: white; 
  color: black;           
  padding:1rem;
}
.wrapper{ max-width:900px; margin:0 auto; }
ul.links{ list-style:disc; padding-left:1.25rem; display:grid; gap:.35rem; }

footer{
  background: lightblue;   
  color: blue;        
  padding:10px;
  border-top:1px blue;
  margin-top:2rem;
}

